[submodule "redteam_core/challenge_pool/webui_auto/src/modules/rt_wc_score"]
	path = redteam_core/challenge_pool/webui_auto/src/modules/rt_wc_score
	url = ../module.rt-wc-score.git
[submodule "redteam_core/challenge_pool/webui_auto/volumes/src/web.rtc-wc-login-page"]
	path = redteam_core/challenge_pool/webui_auto/volumes/src/web.rtc-wc-login-page
	url = ../web.rt-wc-login-page.git
